* {
    margin: 0;
    padding: 0;
    font-family: 'MyWebFont';
}

@font-face {
    font-family: 'MyWebFont';
    src: local('opensans'), 
    url(fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype');
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.6fr 2fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    /* grid-template-rows: 100px 350px 200px; */
    grid-template-rows: 100px minmax(200px, 350px) minmax(200px, 350px);
    background-color: #791479;
    padding: 35px;
    font-weight: bold;
    color: white;
}

div .sidebar h2 {
    grid-row: 1/2;
}

.main-sidebar {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    gap: 5px;
}

.list li {
    margin-top: 8px;
}

.options {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.header .search-bar {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    margin-left: 70px;
    padding-top: 25px;
    gap: 10px;
}

.header .search-bar input {
    width: 650px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    border: 2px;
    box-sizing: border-box;
    background-color: #e0e6ef;
}

.header .welcome {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    gap: 50px;
    margin-left: 70px;
}

.header .welcome img {
    border-radius: 50%;
}

.header .profile {
    grid-column: 3/5;
    grid-row: 1/2;
    vertical-align: middle;
    display: flex;
    padding-top: 25px;
    gap: 25px;
    font-weight: bold;
    margin-left: 250px;
}

.header .profile .logo2 {
    border-radius: 50%;
}

.header .profile .bell {
    margin-top: 10px;
}
.header .profile p {
    margin-top: 7px;
    
}

.header .buttons {
    grid-column: 2/5;
    grid-row: 2/3;
    display: flex;
    gap: 50px;
    align-items: center;
}

button {
    background-color: #791479;
    border-radius: 10px;
    font-family: 'MyWebFont';
    font-weight: bold;
    color: white;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    transition-duration: 0.4s;
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #e0e6ef;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.25 fr 1fr 0.25fr;
}

li {
    list-style-type: none;
}

.path {
    grid-row: 1/2;
    margin-left: 30px;
    margin-top: 20px;
}

.tutoring_title {
    grid-row: 1/2;
    margin-top: 20px;
}

.article {
    margin-top: 10px;
    margin-left: 30px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 230px;
    background-color: white;
    background-image: linear-gradient(90deg, #791479 5%, rgba(0,0,0,0) 5%); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.tutoring{
    margin-top: 10px;
    grid-row: 2/4;
    grid-column: 2/3;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    padding: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.statistics {
    grid-row: 2/3;
    grid-column: 2/3;
}

.title {
    font-weight: bold;
}